@import "~bootstrap/scss/bootstrap.scss";

.bigCounter{
    background: rgb(2, 48, 250);
    text-align: center;
}

.bigCounter div{
    border-radius: 8px;
    background: #101010;
    color: #ffffff;
    display: inline-block;
    line-height: 150px;
    font-size: 150px;
    margin: 10px;
    padding: 20px;
}
